


.sort-header {
    display: flex;
    justify-content: space-between;


    i {
        padding: 0 3px;
        cursor: pointer;
    }
}

.add-new {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .group-btns {
        display: flex;
        gap: 10px;

        i {
            padding: 0 2px;
        }
    }

  }